

@import "tailwindcss";

@theme {
  /* --- Tipografía --- */
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Lexend', sans-serif;
  --font-lexend: 'Lexend', sans-serif;

  /* --- Identidad Institucional APROLAC --- */
  --color-aprolac-green: #0E734E;
  --color-aprolac-guinda: #731034;

  /* --- Tonos Base y Fondos (Pureza Láctea) --- */
  --color-aprolac-cream: #FBFBF9;
  --color-aprolac-surface: #FFFFFF;

  /* --- Contraste y Tipografía (Autoridad B2B) --- */
  --color-aprolac-dark: #231F20;
  --color-aprolac-text: #4B5563;
  --color-aprolac-border: #E5E7EB;
}

/* Reset base para el Scrollytelling y UX */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-aprolac-cream);
    color: var(--color-aprolac-text);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
    color: var(--color-aprolac-dark);
  }
}
